%h1 Choose a day to make your reservation

= month_calendar do |date|
  = date.day
  - if date > DateTime.now
    .text-center
      %small This day has available slots!
      = link_to "Reserve", new_reservation_path(selected_day: date), "class"=>"btn btn-primary btn-sm btn-block"
